## Imports

In [1]:
from pathlib import Path
import numpy as np
import pandas as pd

In [2]:
df_overview = pd.read_csv('c:\\Friendcloud\\_University\\_Masterarbeit\\Data\\Source\\twitter_followers.csv', sep=';')

In [3]:
df_overview

            account  followers  tweets         oldest_tweet_date
0       _SuperMeat_       3192     784  2016-04-18T17:36:14.000Z
1        AlephFarms       4217    1310  2018-12-08T08:24:09.000Z
2      BetterMeatCo       2028     936  2018-08-22T16:39:00.000Z
3        BeyondMeat     136927    3235  2019-07-24T14:50:21.000Z
4           biomilq        880     415  2020-02-06T16:33:10.000Z
..              ...        ...     ...                       ...
59      upsidefoods      20571    2248  2016-01-21T07:37:42.000Z
60   UptonsNaturals       8028    3228  2015-06-10T20:58:26.000Z
61      Vegebutcher      11968    3192  2018-08-05T14:16:24.000Z
62  WickedKitchenWW        513       8  2021-07-02T20:01:33.000Z
63    wildtypefoods      10604    1174  2018-03-29T21:50:37.000Z

[64 rows x 4 columns]

In [309]:
df_category = pd.read_csv('c:\\Friendcloud\\_University\\_Masterarbeit\\Data\\Source\\Overview_Companies_TwitterLinkedIn.csv', sep=';')

In [310]:
df_category = df_category[['account','Produktart','category']]

In [311]:
df_category

,account,Produktart,category
0,https://twitter.com/BlueNaluInc?s=20&t=sd3szNc...,Fisch,Cellular Agriculture
1,https://twitter.com/wildtypefoods?s=20&t=sd3sz...,Fisch,Cellular Agriculture
2,https://twitter.com/mosa_meat?s=20&t=9QP33bSRw...,Fleisch,Cellular Agriculture
3,https://twitter.com/AlephFarms?s=20&t=9QP33bSR...,Fleisch,Cellular Agriculture
4,https://twitter.com/FutureMeat1?s=20&t=9QP33bS...,Fleisch,Cellular Agriculture
...,...,...,...
74,kein Profil,Fleisch,PrecisionFermentation
75,https://twitter.com/Innomylabs?s=20&t=uN8I0DEE...,Fleisch,PrecisionFermentation
76,https://twitter.com/mycovation?s=20&t=uN8I0DEE...,"Fleisch, Milchprodukte",PrecisionFermentation
77,https://twitter.com/NoblegenInc?s=20&t=uN8I0DE...,"Fleisch, Milchprodukte",PrecisionFermentation
78,https://twitter.com/QuornFoods?s=20&t=uN8I0DEE...,"Fleisch, Meeresfrüchte",PrecisionFermentation

In [312]:
df_category['account'] = df_category['account'].str.split('/').str[3]
df_category['account'] = df_category['account'].str.split('?').str[0]

In [313]:
df_category

          account              Produktart               category
0     BlueNaluInc                   Fisch   Cellular Agriculture
1   wildtypefoods                   Fisch   Cellular Agriculture
2       mosa_meat                 Fleisch   Cellular Agriculture
3      AlephFarms                 Fleisch   Cellular Agriculture
4     FutureMeat1                 Fleisch   Cellular Agriculture
..            ...                     ...                    ...
74            NaN                 Fleisch  PrecisionFermentation
75     Innomylabs                 Fleisch  PrecisionFermentation
76     mycovation  Fleisch, Milchprodukte  PrecisionFermentation
77    NoblegenInc  Fleisch, Milchprodukte  PrecisionFermentation
78     QuornFoods  Fleisch, Meeresfrüchte  PrecisionFermentation

[79 rows x 3 columns]

In [314]:
df_overview = pd.merge(df_overview, df_category, how='left')
df_overview.sort_values('tweets')

,account,followers,tweets,oldest_tweet_date,Produktart,category
30,MoolecScience,265,0,NaN,"Fleisch, Eier, Milchprodukte",PrecisionFermentation
62,WickedKitchenWW,513,8,2021-07-02T20:01:33.000Z,Fleisch,Plant-based
49,RedefineMeat,2765,12,2019-10-31T16:14:32.000Z,Fleisch,Plant-based
24,Innomylabs,70,14,2021-07-13T22:16:59.000Z,Fleisch,PrecisionFermentation
13,eatGOURMEY,737,17,2021-07-14T14:06:02.000Z,Fleisch,Cellular Agriculture
...,...,...,...,...,...,...
7,CalifiaFarms,9195,3237,2016-04-28T18:25:40.000Z,Milch,Plant-based
19,FieldRoast,20960,3242,2015-01-05T21:41:05.000Z,"Fleisch, Käse",Plant-based
10,daiyafoods,60561,3248,2017-03-17T19:12:25.000Z,Milchprodukte,Plant-based
41,oatly,23362,3250,2021-09-21T11:38:53.000Z,Milch,Plant-based
47,QuornFoods,30505,3250,2020-08-24T17:23:10.000Z,"Fleisch, Meeresfrüchte",PrecisionFermentation

In [315]:
df_overview.drop(df_overview[df_overview.account == 'MoolecScience'].index, inplace=True)

In [316]:
df_overview.reset_index(inplace=True)
df_overview.drop('index', axis=1, inplace=True)

In [317]:
df_overview

,account,followers,tweets,oldest_tweet_date,Produktart,category
0,_SuperMeat_,3192,784,2016-04-18T17:36:14.000Z,Fleisch,Cellular Agriculture
1,AlephFarms,4217,1310,2018-12-08T08:24:09.000Z,Fleisch,Cellular Agriculture
2,BetterMeatCo,2028,936,2018-08-22T16:39:00.000Z,Fleisch,Plant-based
3,BeyondMeat,136927,3235,2019-07-24T14:50:21.000Z,Fleisch,Plant-based
4,biomilq,880,415,2020-02-06T16:33:10.000Z,(Mutter)milch,Cellular Agriculture
...,...,...,...,...,...,...
58,upsidefoods,20571,2248,2016-01-21T07:37:42.000Z,Fleisch,Cellular Agriculture
59,UptonsNaturals,8028,3228,2015-06-10T20:58:26.000Z,Fleisch,Plant-based
60,Vegebutcher,11968,3192,2018-08-05T14:16:24.000Z,Fleisch,Plant-based
61,WickedKitchenWW,513,8,2021-07-02T20:01:33.000Z,Fleisch,Plant-based
62,wildtypefoods,10604,1174,2018-03-29T21:50:37.000Z,Fisch,Cellular Agriculture

In [318]:
files = sorted(Path('c:\\Friendcloud\\_University\\_Masterarbeit\\Data\\Source\\Twitter').glob('*.csv'))

df_tweets = pd.DataFrame()
df_list = []
for file in files:
    df_company = pd.read_csv(file)
    file_name = file.name.split('.', 1)[0]
    df_company['account'] = file_name
    df_list.append(df_company)

df_tweets = pd.concat(df_list)
df_tweets.reset_index(inplace=True)
df_tweets.drop('index', axis=1, inplace=True)

In [319]:
df_tweets

,date,message,likes,replies,retweets,quotes,account
0,2022-05-11T16:30:38.000Z,Thanks for featuring SuperMeat’s first of its ...,10,0,1,1,_SuperMeat_
1,2022-05-05T14:15:20.000Z,The best way to overcome the challenges we fac...,4,0,0,0,_SuperMeat_
2,2022-04-13T12:43:04.000Z,Once #cultivatedmeat meat will hit the store s...,49,6,12,4,_SuperMeat_
3,2022-03-17T15:02:56.000Z,On #Purim we celebrate the hidden miracles in ...,8,0,0,0,_SuperMeat_
4,2022-02-16T20:01:15.000Z,In this in depth piece about cultivated meat i...,8,0,3,0,_SuperMeat_
...,...,...,...,...,...,...,...
62448,2018-08-23T23:04:43.000Z,Nice work @MemphisMeats and @MeatInstitute! ht...,9,0,0,0,wildtypefoods
62449,2018-08-15T19:03:16.000Z,Thoughts from our friend Peter @andinapdx on t...,9,0,2,0,wildtypefoods
62450,2018-07-26T17:51:10.000Z,Congrats to our friends @rootvc for closing th...,12,1,1,0,wildtypefoods
62451,2018-03-29T23:48:23.000Z,Excited to announce partnerships with @sparkca...,13,0,1,0,wildtypefoods
62452,2018-03-29T21:50:37.000Z,I just published “New partnerships” https://t....,5,0,0,1,wildtypefoods

In [320]:
df = pd.merge(df_overview, df_tweets)

In [321]:
df

,account,followers,tweets,oldest_tweet_date,Produktart,category,date,message,likes,replies,retweets,quotes
0,_SuperMeat_,3192,784,2016-04-18T17:36:14.000Z,Fleisch,Cellular Agriculture,2022-05-11T16:30:38.000Z,Thanks for featuring SuperMeat’s first of its ...,10,0,1,1
1,_SuperMeat_,3192,784,2016-04-18T17:36:14.000Z,Fleisch,Cellular Agriculture,2022-05-05T14:15:20.000Z,The best way to overcome the challenges we fac...,4,0,0,0
2,_SuperMeat_,3192,784,2016-04-18T17:36:14.000Z,Fleisch,Cellular Agriculture,2022-04-13T12:43:04.000Z,Once #cultivatedmeat meat will hit the store s...,49,6,12,4
3,_SuperMeat_,3192,784,2016-04-18T17:36:14.000Z,Fleisch,Cellular Agriculture,2022-03-17T15:02:56.000Z,On #Purim we celebrate the hidden miracles in ...,8,0,0,0
4,_SuperMeat_,3192,784,2016-04-18T17:36:14.000Z,Fleisch,Cellular Agriculture,2022-02-16T20:01:15.000Z,In this in depth piece about cultivated meat i...,8,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...
62448,wildtypefoods,10604,1174,2018-03-29T21:50:37.000Z,Fisch,Cellular Agriculture,2018-08-23T23:04:43.000Z,Nice work @MemphisMeats and @MeatInstitute! ht...,9,0,0,0
62449,wildtypefoods,10604,1174,2018-03-29T21:50:37.000Z,Fisch,Cellular Agriculture,2018-08-15T19:03:16.000Z,Thoughts from our friend Peter @andinapdx on t...,9,0,2,0
62450,wildtypefoods,10604,1174,2018-03-29T21:50:37.000Z,Fisch,Cellular Agriculture,2018-07-26T17:51:10.000Z,Congrats to our friends @rootvc for closing th...,12,1,1,0
62451,wildtypefoods,10604,1174,2018-03-29T21:50:37.000Z,Fisch,Cellular Agriculture,2018-03-29T23:48:23.000Z,Excited to announce partnerships with @sparkca...,13,0,1,0
62452,wildtypefoods,10604,1174,2018-03-29T21:50:37.000Z,Fisch,Cellular Agriculture,2018-03-29T21:50:37.000Z,I just published “New partnerships” https://t....,5,0,0,1

In [322]:
print('Anzahl Posts:', df_tweets['message'].count())
print('Datum erster Post:', df_tweets['date'].min())
print('Datum letzter Post:', df_tweets['date'].max())

Anzahl Posts: 62453
Datum erster Post: 2013-10-18T01:48:29.000Z
Datum letzter Post: 2022-09-06T05:57:40.000Z

In [323]:
df_tweets['account'].value_counts()

account
oatly              3250
QuornFoods         3250
daiyafoods         3248
FieldRoast         3242
CalifiaFarms       3237
                   ...
mycovation           21
eatGOURMEY           17
Innomylabs           14
RedefineMeat         12
WickedKitchenWW       8
Name: count, Length: 63, dtype: int64